* {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitle {
  line-height: 1;
  font-size: 8rem;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitle {
    font-size: 3rem;
    max-width: initial !important;
    text-align: center;
  }
}