@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", sans-serif;
}

body {
  margin: 2.5rem 8.75rem;
  display: grid;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ESTILIZAÇÃO CABEÇALHO */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header h3 {
  font-size: 3rem;
  font-weight: bold;
}

.menu {
  display: grid;
  justify-content: end;
  & ul {
    display: flex;
    gap: 0 40px;
    & li a {
      font-size: 1.125rem;
      color: #000;
    }
  }
}


@media (max-width: 800px) {
  .menu {
    display: none;
  }
}